*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.Portfolio-container{
    min: height 150vh; 
    width: 100%;
    display: flex;
}
.Navlist{
    display: flex;
    gap: 3.5rem;
    height: 15vh;
    width: 100%;
    justify-content: center;
    align-items: center;
    position: fixed;
}
.Navlist{
    list-style: None;
}
.Navlist li a{
     text-decoration: none;
     text-transform: uppercase;
     font-size: 1rem;
     color:#fff;
     position: relative;
}
.left-container,.right-container{
    height: 100vh;
    display: flex;
    align-items: center;
}
.left-container{
    background: #262525;
    width: 70%;
    padding-left: 3rem;

}
.right-container{
    background:linear-gradient(-45deg,#3875ff,#262525 70%);
    width: 30%;

}
.icons .fa-brands{
    color: #bbb;
    font-size: 1.7rem;
}
.icons{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 3rem;
}
.content{
    margin: 4rem;
}
.content .intro{
    font-size: 1.5rem;
    color: #fff;
}
.content.intro span{
    color: #3875ff;
}
.content h1{
    font-size: 4rem;
    color: #3875ff;
}

.content .detail{
    font-size: 1.2rem;
    color: #fff;
    max-width: 38rem;
    margin: 1.1rem 0 3rem 0;
    line-height: 1.8rem;
}
.but-container button{
    border: 0.1rem solid#5D59EE;
    font-size: 1rem;
    padding: 0.5rem 1.3rem;
    border-radius: .5rem;
    cursor: pointer;
    transition: .5s ease;
}
button:nth-child(1){
    background:#5D59EE;
    color: #262525;
}
button:nth-child(2){
    background: transparent;
    color: #3875ff;
    margin-left: 2rem;

}
button:nth-child(1):hover{
    background: transparent;
    color: #3875ff;
}
button:nth-child(2):hover{
    background: #5D59EE;
    color: #262525;
}
.icons .fa-brands:hour{
    cursor: pointer;
    background: linear-gradient(#fff,#3875ff);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.design .circle{
    aspect-ratio: 1;
    position: absolute;
    border-radius: 50%;
    top: 50%;
    left: 70%;
    translate: -50% -50%;

}
.circle:nth-child(1){
    background: linear-gradient(90deg,transparent,#262525 50%);
    width: 38rem;
}
.circle:nth-child(2){
    width: 30rem;
    background-image: url(image/WhatsApp\ Image\ 2024-10-27\ at\ 5.07.01\ PM.jpeg);
    background-size: 80%;
    border: .1rem solid #fff;
    box-shadow:
    0 0 1rem #fff,
    inset 0 0 1rem #fff,
    0 0 2rem #3875ff,
    inset 0 0 2rem #3875ff,
    0 0 4rem #3877ff,
    inset 0 0 4rem #3875ff
    ;   
}
.Navlist li a::after{
    content: "";
    position: absolute;
    background: #fff;
    width: 100%;
    height: .1rem;
    left: 0;
    bottom: -5px;
    transform: scaleX(0);
    transition: transform.5s;
}
.Navlist li a:hover::after{
    transform: scaleX(1);
}
